@charset "UTF-8";
/* CSS Document */

@font-face {
    font-family: "glyph";
    src: url("../fonts/glyphicons-halflings-regular.woff") format('woff');
}
.glyphicon {
	font-family:glyph;
	position:relative;
	top:4px;
}
a .glyphicon {
	text-decoration:none;
	color:inherit;
}
a {
	text-decoration:none;
	color:black;
}
.b-close {
	font-size:80px; 
	position:absolute; 
	right:-12px; top:-14px;
}
.link {
	padding:10px;
	display:block;
	}
html, body {
	height: 768px;
	margin: 0;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
	overflow:hidden;
}
.wrapper {
	position:absolute;
	top:0;
	left:0;
	width:1024px;
	height:768px;
	overflow: hidden;
}

.hidden { display: none; }
.fade { opacity: 0; height: 0; width: 0; overflow: hidden; position: absolute; }

.cleared { clear: both; }